<div class="container body-content">

    <h1>@ViewBag.title</h1>


    @*  // TODO #1: Use a loop to display job results in a table.*@
<table class="job-listing">






     @* Feel free to remove or modify this element if necessary. *@
    @foreach (var job in ViewBag.jobs)

    {
        <td></td>
        <tr>
            <td>
                id:
            </td>
            <td>
                @job.Id
            </td>
        </tr>



        <tr>
            <td>
                name:
            </td>
            <td>
                @job.Name
            </td>
        </tr>

        <tr>
            <td>
                employer:
            </td>
            <td>
                @job.Employer
            </td>
        </tr>
        <tr>
            <td>
                positionType:
            </td>
            <td>
                @job.PositionType
            </td>
        </tr>


        <tr>
            <td>
                location:
            </td>
            <td>
                @job.Location
            </td>
        </tr>

        <tr>
            <td>
                skill:
            </td>
            <td>
                @job.CoreCompetency
            </td>
        </tr>
    }


</table>




</div>